# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.venv/
env/
venv/

# FastAPI / Uvicorn
*.db
*.sqlite
instance/

# Docker
postgres_data/
*.pid

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# Ne jamais versionner les images docker
*.tar
*.tar.gz

# Ne jamais versionner les archives
*.zip

# Ne jamais versionner le chart téléchargé
traefik-helm-chart-master/

# Ne jamais versionner les fichiers Kubernetes locaux
k8s/

# Ne jamais versionner un autre dépôt git
fastapi-microservices-sep25/
