services:
  traefik:
    image: traefik:v2.11
    container_name: fastapi-microservices-traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - traefik-net

  auth-service:
    build:
      context: ./Microservices/auth
      dockerfile: Dockerfile
    container_name: fastapi-microservices-auth
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=PathPrefix(`/auth`) || PathPrefix(`/auth/metrics`)"
      - "traefik.http.services.auth.loadbalancer.server.port=8000"
    networks:
      - traefik-net

  users-service:
    build:
      context: ./Microservices/users
      dockerfile: Dockerfile
    container_name: fastapi-microservices-users
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.users.rule=PathPrefix(`/users`) || PathPrefix(`/users/metrics`)"
      - "traefik.http.services.users.loadbalancer.server.port=8000"
    networks:
      - traefik-net

  items-service:
    build:
      context: ./Microservices/items
      dockerfile: Dockerfile
    container_name: fastapi-microservices-items
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.items.rule=PathPrefix(`/items`) || PathPrefix(`/items/metrics`)"
      - "traefik.http.services.items.loadbalancer.server.port=8000"
    networks:
      - traefik-net

  gateway-service:
    build:
      context: ./Microservices/gateway
      dockerfile: Dockerfile
    container_name: fastapi-microservices-gateway
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gateway.rule=PathPrefix(`/`) || PathPrefix(`/gateway/metrics`)"
      - "traefik.http.services.gateway.loadbalancer.server.port=8000"
    networks:
      - traefik-net

  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: usersdb
    networks:
      - traefik-net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - traefik-net
    depends_on:
      - auth-service
      - users-service
      - items-service
      - gateway-service

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - traefik-net

networks:
  traefik-net:
    driver: bridge
