version: "3.9"

services:

  traefik:
    image: traefik:v2.11
    container_name: fastapi-microservices-traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080" # Dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - traefik-net
    restart: unless-stopped

  users-service:
    build:
      context: ./fastapi-microservices-sep25/Microservices/users
      dockerfile: Dockerfile
    container_name: fastapi-microservices-users
    depends_on:
      - postgres-db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres-db:5432/usersdb
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-net"
      - "traefik.http.routers.users.rule=PathPrefix(`/users`)"
      - "traefik.http.routers.users.entrypoints=web"
      - "traefik.http.services.users.loadbalancer.server.port=8000"
    networks:
      - traefik-net
    restart: unless-stopped

  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: usersdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - traefik-net
    restart: unless-stopped

networks:
  traefik-net:

volumes:
  postgres_data:
