{{- if .Values.global.useExternalSecrets }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: app-secrets
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-store
    kind: SecretStore
  target:
    name: database-credentials
    creationPolicy: Owner
  data:
    - secretKey: SECRET_KEY
      remoteRef:
        key: microservices-platform-{{ .Values.global.environment }}-secrets
        property: app_secret_key
    - secretKey: DATABASE_URL
      remoteRef:
        key: microservices-platform-{{ .Values.global.environment }}-secrets
        property: database_url
    - secretKey: DB_PASSWORD
      remoteRef:
        key: microservices-platform-{{ .Values.global.environment }}-secrets
        property: rds_master_password
{{- end }}